.u-section-1 .u-image-1 {
  min-height: 1475px;
  background-image: url("images/DandouchMerai_Resume2.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 1216px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 931px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 698px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 439px;
  }
}